{% load static %}
{% static 'img' as BaseUrl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Delivery</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    {% csrf_token %}
    <nav id="navbar">
      <div class="logo">
        <img src="{% static 'img/logo.jpg' %}" alt="Logo" />
      </div>
      <div class="listitem">
        <ul>
          <li><a href=" " class="active">Home</a></li>
          
          
          {% if user.is_authenticated %}
          
          <li style="color: blue;">hello, {{user.first_name}} </li>
          <li><a href="accounts/logout">logout</a></li>
          {% else %}
          <li><a href="accounts/register">Register</a></li>
          <li><a href="accounts/login">login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div id="container">
      <h1 class="h-primary">Welcome to Indian Food Delivery</h1>
      <p>
        Indian cuisine consists of a variety of regional and traditional
        cuisines native to India. Given the diversity in soil, climate, culture,
        ethnic groups, and occupations, these cuisines vary substantially and
        use locally available spices, herbs, vegetables, and fruits.
      </p>
      <button class="btn">Order</button>
    </div>
    <div class="heading">
      <h1 class="h-primary">Our Services</h1>
    </div>
 
    <div id="section">

      {% for dest in dests %}
      <div class="box">
        <!-- <h1 class="h-primary">Maharashtrian Thali</h1> -->
         
        <h1 class="h-primary">{{dest.name}}</h1>
        <img src="{{dest.img.url}}" alt="Maharashtrian Thali" />
        <!-- <p>
          The most popular forms are bhaji, vada pav, misal pav, and pav bhaji.
          More traditional dishes are sabudana khichadi, pohe, upma, sheera, and
          panipuri. The everyday thali will have a flatbread (can be chapati,
          phulka, bhakri) or poori, a koshimbir, a chutney, a dry vegetable
          curry, papad, pickle, and a sweet dish.
        </p> -->
        <p>{{dest.desc}}</p>
        <button class="btn">Order</button>
      </div>
      <!-- <div class="box">
        <h1 class="h-primary">Punjabi Thali</h1>
        <img src="{% static 'img/panjabi.jpeg' %}" alt="Punjabi Thali" />
        <p>
          This thali is a lot like the people in Punjab - robust and full of
          life. The popular Punjabi thali consists of Amritsari Kulcha or Naan,
          Pindhi Chhole, Dal Makhani, Jeera Rice, Paneer Makhani, and a big glass
          of Lassi. The non-vegetarian thali may include Butter Chicken,
          Amritsari Machchi, and Naan.
        </p>
        <button class="btn">Order</button>
      </div>
      <div class="box">
        <h1 class="h-primary">Rajasthani Thali</h1>
        <img src="{% static 'img/rajasthani.jpeg' %}" alt="Rajasthani Thali" />
        <p>
          A typical Rajasthani thali includes dal baati churma (round-shaped
          breads with a variety of lentils), gatte ki sabzi (gram flour balls in
          curd gravy and spices), rotis of bajra, jowar, makka, or missi roti
          (breads of pearl millet, corn, or whole-wheat flatbread), panchmela dal
          (concoction of five different lentils), and ker.
        </p>
        <button class="btn">Order</button>
      </div> -->
      {%endfor %}
    </div>
    <!-- <div id="section">
      <div class="box">
        <h1 class="h-primary">South Indian Thali</h1>
        <img src="{% static 'img/sauth.jpeg' %}" alt="South Indian Thali" />
        <p>
          Typical dishes include rice, dal, vegetables, roti, papad, dahi
          (yogurt), small amounts of chutney or pickle, and a sweet dish to top
          it off. Thali is a complete meal served on a single plate.
          Characterized by eye-popping variety and an imposing quantity, thali
          easily contains 10 to 15 dishes.
        </p>
        <button class="btn">Order</button>
      </div>
      <div class="box">
        <h1 class="h-primary">Pizza</h1>
        <img src="{% static 'img/pizza.jpeg' %}" alt="Pizza" />
        <p>
          Humans are drawn to foods that are fatty, sweet, rich, and complex.
          Pizza has all of these components. Cheese is fatty, meat toppings tend
          to be rich, and the sauce is sweet. Pizza toppings are also packed with
          a compound called glutamate, which can be found in the tomatoes,
          cheese, pepperoni, and sausage.
        </p>
        <button class="btn">Order</button>
      </div>
      <div class="box">
        <h1 class="h-primary">Burger</h1>
        <img src="{% static 'img/burger.jpg' %}" alt="Burger" />
        <p>
          A burger is a flat round mass of minced meat or vegetables, which is
          fried and often eaten in a bread roll. Different types of burgers are
          available: turkey burger, Portobello mushroom burger, veggie burger,
          wild salmon burger, bean burger, cheeseburger.
        </p>
        <button class="btn">Order</button>
      </div>
    </div> -->

    <div id="contact">
      <div class="heading">
        <h1 class="h-primary">Contact Us</h1>
      </div>
      <div class="contact-box">
        <form action="">
          <div class="formgroup">
            <label>Name:</label>
            <input type="text" placeholder="Enter your name" />
          </div>
          <div class="formgroup">
            <label>Address:</label>
            <textarea name="address" rows="5" cols="5"></textarea>
          </div>
          <div class="formgroup">
            <label>Phone No:</label>
            <input type="phone" placeholder="Enter your phone number" />
          </div>
          <div class="formgroup">
            <label>Email ID:</label>
            <input type="email" placeholder="Enter your email ID" />
          </div>
          <div class="button">
            <button class="btn" onclick="alert('Do you want to submit the form?')">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div id="footer">
      <div class="add">
        <h1 class="h-primary head">Indian Food</h1>
        <p>
          35, West Side, Hinjewadi 411-057, Pune 411-005 |
          booknow@fooddelivery.com
        </p>
        <div class="media">
          <img src="{% static 'img/google.png' %}" alt="Google" />
          <img src="{% static 'img/facebook.png' %}" alt="Facebook" />
          <img src="{% static 'img/youtube.png' %}" alt="YouTube" />
          <img src="{% static 'img/insta.png' %}" alt="Instagram" />
        </div>
      </div>
    </div>
  </body>
</html>
